<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <form id="contactForm" onSubmit="formSubmit();return false;">
        <input type="text" id="name" name="name" placeholder="name">
        <button type="submit">Submit</button>
    </form>
    <div id="msg"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        function formSubmit(){
            //Check for function trigger
            console.log("Submitted");
            const contactForm=document.getElementById("contactForm");
            //capture input from form
            const payload={
                name:document.getElementById("name").value,
            };
            //send data to server
            axios.post("/api/v1/form",payload).then((res)=>{
                //display data
                document.getElementById("msg").innerHTML=res.data.msg;
                contactForm.reset();
            });
        }      
    </script>
</body>
</html>